#game-page {
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#failed-game-MSG {
    display: flex;
    font-weight: bolder;
    margin: auto;
    font-size: xx-large;
}

#lobby {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#lobby__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
    font-size: xx-large;
    height: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#lobby__choose-deck-btn {
    color: black;
    background-color: lightgreen;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

#lobby__choose-deck-btn:hover {
    cursor: pointer;
    background-color: green;
}

#lobby__ready-btn {
    display: none;
    color: black;
    background-color: lightgreen;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

#lobby__ready-btn:hover {
    cursor: pointer;
    background-color: green;
}

#lobby__not-ready-btn {
    display: none;
    color: black;
    background-color: lightcoral;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

#lobby__not-ready-btn:hover {
    cursor: pointer;
    background-color: red;
}

#lobby__div {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 98%;
    justify-content: space-evenly;
}

#lobby__deck-list {
    height: 98%;
    width: 30%;
    min-width: fit-content;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.lobby__deck-list--entry {
    font-weight: bold;
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.lobby__deck-list--entry:hover {
    background-color: lightgray;
    cursor: pointer;
}

#lobby__enhanced-card-img {
    height: 100%;
    width: 30%;
}

#lobby__player-list {
    height: fit-content;
    width: 30%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.lobby__player-list--entry {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    height: fit-content;
    width: 100%;
}

.lobby__player-list--name {
    height: fit-content;
    width: 75%;
    font-weight: bold;
}

.lobby__player-list--status--not-ready {
    color: red;
    height: fit-content;
    width: 25%;
    font-weight: bold;
}

.lobby__player-list--status--ready {
    color: lightgreen;
    height: fit-content;
    width: 25%;
    font-weight: bold;
}

#game-board {
    box-sizing: border-box;
    color: black;
    display: none;
    flex-direction: column-reverse;
    border: solid;
    border-radius: 3px;
    height: 100%;
    width: 100%;
}

.board-side {
    box-sizing: border-box;
    color: black;
    display: none;
    flex-direction: row;
    width: 100%;
    border-style: solid;
}

.player-profile {
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
}

.player-profile__pfp {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.player-profile__name {
    height: fit-content;
    width: fit-content;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

.player-profile__counts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
}

.player-profile__count {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 30px;
}

.player-profile__count--icon {
    height: 100%;
}

.player-profile__count--num {
    width: 40%;
    margin: auto;
    margin-right: 0px;
    font-size: xx-large;
}

.friendly-side {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hostile-side {
    color: black;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.hostile-side>.lands {
    border-top: none;
}

.hostile-side>.field {
    height: 70%;
}

.field {
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40%;
    width: 100%;
}

.lands {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 30%;
    width: 100%;
    border-style: solid;
    border-left: none;
}

.hand {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.card {
    cursor: pointer;
    width: auto;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 9px;
    transition-duration: 0.25s;
}

.hand>.card {
    height: 90%;
}

.lands>.card {
    height: 90%;
}

.card:hover {
    border-width: 3px;
}

.tapped {
    transform: rotate(90deg);
    margin-left: 40px;
    margin-right: 60px;
}

.ability {
    padding: 2.5%;
    margin: 2%;
    height: fit-content;
    width: 91%;
    font-weight: bold;
    font-size: large;
    border: 2px solid;
    border-radius: 7px;
}

.ability:hover {
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}