#game-page {
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#failed-game-MSG {
    display: flex;
    font-weight: bolder;
    margin: auto;
    font-size: xx-large;
}

#game-board {
    box-sizing: border-box;
    color: black;
    display: none;
    flex-direction: column-reverse;
    border: solid;
    border-radius: 3px;
    height: 100%;
    width: 90%;
}

.board-side {
    box-sizing: border-box;
    color: black;
    display: none;
    flex-direction: row;
    width: 100%;
    border-style: solid;
}

.friendly-side {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
}

.hostile-side {
    color: black;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.hostile-side>.lands {
    border-top: none;
}

.hostile-side>.Zone.FIELD {
    height: 70%;
}

#stack {
    color: black;
    display: none;
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    border: 5px solid;
    border-radius: 3px;
}

.Zone.FIELD {
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40%;
    width: 100%;
}

.lands {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 30%;
    width: 100%;
    border-style: solid;
    border-left: none;
    border-right: none;
}

.Zone.HAND {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
}

.card {
    cursor: pointer;
    width: auto;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 11px;
    transition-duration: 0.25s;
}

.Zone.HAND>.card {
    height: 90%;
    margin-right: -10%;
    margin-left: -10%;
}

.Zone.HAND>.card:hover {
    position: relative;
    z-index: 1000;
}

.lands>.card {
    height: 90%;
}

.card:hover {
    border-width: 3px;
}

.tapped {
    transform: rotate(90deg);
    margin-left: 40px;
    margin-right: 60px;
}

.ability {
    padding: 2.5%;
    margin: 2%;
    height: fit-content;
    width: 91%;
    font-weight: bold;
    font-size: large;
    border: 2px solid;
    border-radius: 7px;
}

.ability:hover {
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}