html, body {
    display:flex;
    height:100%;
    width:100%;
    margin:0;
    overflow:hidden;
    font-family:-apple-system, BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    background-color:#31343a;
}

#root {
    display:flex;
    width:100%;
    height:100%;
    user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    -moz-user-drag:none;
    -o-user-drag:none;
}